/* Font downloaded from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Variables*/
:root {
    --primary-font: 'Nunito', sans-serif;
    --heading-font: 'DynaPuff', sans-serif;
    --highlight-color: #f3bd31ff; /* tuscan sun*/
    --background-color: #edf5fdff; /* alice blue*/
    --secondary-background: #e7d9e7ff; /* lavender veil*/
    --secondary-highlight: #0e6fbeff; /* bright marine*/
    --secondary-text: #0f38a9ff; /* eyptian blue*/
    --text-color: #01164eff; /* deep navy*/
    --red-highlight:#ff0d62ff;
    --orange-highlight:#ff7400ff;
}

/* Generic style rules*/
html{
    font-size:10px;
}

body{
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 1rem;
    margin-top: 6.1rem;
    background: url("../images/background-image.webp") no-repeat center center/cover fixed;
    min-height: 90vh;
}

h1, 
h2,
h3{
    font-family: var(--heading-font);
    color: var(--background-color);
}

.hidden-text{
    visibility: hidden;
    font-size: 0;
}

/* buttons*/
.btn-lg{
    background-color: var(--highlight-color);
    color:var(--text-color);
    font-family: var(--heading-font), sans-serif;
    font-size: 3rem;
    padding-left:40px;
    padding-right:40px;
    box-shadow:2rem 2rem 5rem var(--secondary-background);
}

.btn-lg:hover{
    background-color: var(--text-color);
    color:var(--background-color);
}

.btn-information{
    background-color: var(--secondary-text);
    color: var(--background-color);
    font-size: 2rem;
    margin-top: 2rem;
}

.btn-information:hover{
    background-color: var(--red-highlight);
}

/* nav bar*/
.navbar .container-fluid{
    --bs-gutter-x:0;
    margin-right:1.5rem;
}
.navbar,
.footer{
    font-size: 3rem;
    background-color: var(--secondary-highlight);
    font-family: var(--heading-font), sans-serif;
    height:6.1rem;
}

.navbar{
    box-shadow: 0 0.5rem 0.5rem var(--background-color);
}

.footer{
    box-shadow: 0 0.5rem 0.5rem var(--background-color) inset;
}

.navbar a,
.footer a{
        color: var(--background-color);
}

.navbar a:hover,
.footer a:hover{
        color: var(--highlight-color);
}

.navbar #logo{
    padding-left:4rem;
    max-height: 4rem;
}

.navbar-collapse {
    background-color: var(--secondary-highlight);
    align-items: flex-start;
    padding-left: 4rem;
    margin-right:5.5rem;
}
/*footer*/

.footer .fa-brands{
    padding:1.5rem;
}

/*landing page*/
#hero{
    padding-top: 2rem;
    padding-bottom: 4rem ;
    color: var(--background-color);
    text-align: center;
}

#hero .display-1{
    font-size:5.5rem;
}

#hero .lead{
    font-size: 2rem;
    padding-bottom: 2rem;
}

#hero-logo img{
    width: 85vw;
    max-width: 40vh;
}
#reasons{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.reasons-images{
    width: 75vw;
    height:50vw;
    max-width:30rem;
    max-height:20rem;
    border-radius: 2rem;
    box-shadow:2rem 2rem 5rem var(--secondary-background); 
}
.reasons-extra{
    background-color: var(--background-color);
    border: 4px solid var(--text-color);
    box-shadow: 2rem 2rem 2rem var(--secondary-background) inset;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding:2rem;
}

#reason-1{
    background-image: url(../images/different-genre.webp);
    background-size: cover;
}

#reason-2{
    background-image: url(../images/multiple-levels.webp);
    background-size: cover;
}

#reason-3{
    background-image: url(../images/boost-your-brain.webp);
    background-size: cover;
}

.reasons-titles{
    font-size: 3rem;
    padding-top:1rem;
    padding-bottom: 4rem;
}

/* game play page*/
#play-hero img{
    width: 15vh;
}

#play-hero{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

#play-hero-logo{
    text-align: end;
}

.play-zone{
    background-color: var(--background-color);
    border: 4px solid var(--text-color);
    box-shadow: 2rem 2rem 2rem var(--secondary-background) inset;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding:2rem;
}

#select-difficulty .form-check .form-check-input{
    margin-left: -0.5rem;
    margin-right: 1rem;
}

#form-options{
    margin-bottom: 2rem;
}

#form-options .form-check-input:checked{
    background-color: var(--text-color);
    border-color:var(--text-color);
}

#form-options .easy .fa-star{
    color: var(--highlight-color);
}

#form-options .easy .form-check-label:hover{
    color:var(--highlight-color);
}

#form-options .medium .fa-star{
    color: var(--orange-highlight);
}

#form-options .medium .form-check-label:hover{
    color:var(--orange-highlight);
}

#form-options .hard .fa-star{
    color:var(--red-highlight);
}

#form-options .hard .form-check-label:hover{
    color:var(--red-highlight);
}

#further-info{
    display:none;
    padding-top: 3rem;
    padding-bottom:3rem;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right:2rem;
    text-align: start;
}

#further-info ul{
    list-style-type: none;
}

#further-info ul:hover{
    color:var(--secondary-highlight);
}

/* facts page*/

/* Responsive Styling */

/* Older style small phones which are less than 620px tall short phones */ 
/* Also applies to landscape orientation of all phones */
@media  screen and (max-height:620px) {
}

/* Medium screens: tablets (768px and above)*/
@media screen and (min-width:768px) {
    .play-zone .btn-information{
        margin-top: 0;
    }
}

/* Large screens 992px and above: laptops*/
@media screen and (min-width:992px) {
    #hero .display-1{
        text-align: start;
        font-size: 7rem;
        padding-left:5rem;
    }
    #hero-logo{
        text-align: end;
    }

    #hero .lead{
        font-size: 3.5rem;
    }
}

/* Extra large screens: 1200 px and above (laptop)*/
@media screen and (min-width:1200px) {

}

/* Extra extra large screens: 1400 px and above (wide screen laptop and desktop computer screens*/
@media screen and (min-width:1400px) {
}