/* Font downloaded from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Variables*/
:root {
    --primary-font: 'Nunito', sans-serif;
    --heading-font: 'DynaPuff', sans-serif;
    --highlight-color: #f3bd31ff; /* tuscan sun*/
    --background-color: #edf5fdff; /* alice blue*/
    --secondary-background: #e7d9e7ff; /* lavender veil*/
    --secondary-highlight: #0e6fbeff; /* bright marine*/
    --secondary-text: #0f38a9ff; /* eyptian blue*/
    --text-color: #01164eff; /* deep navy*/
}

/* Generic style rules*/
html{
    font-size:10px;
}

body{
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 1rem;
    margin-top: 5.7rem;
    background: url("../images/background-image.webp") no-repeat center center/cover fixed;
    min-height: 90vh;
}

h1, 
h2,
h3{
    font-family: var(--heading-font);
    color: var(--background-color);
}

.hidden-text{
    visibility: hidden;
    font-size: 0;
}

/* buttons*/
.btn-lg{
    background-color: var(--highlight-color);
    color:var(--text-color);
    font-family: var(--heading-font), sans-serif;
    font-size: 3rem;
    padding-left:40px;
    padding-right:40px;
}


/* nav bar*/
.navbar .container-fluid{
    --bs-gutter-x:0;
    margin-right:1.5rem;
}
.navbar,
.footer{
    font-size: 3rem;
    background-color: var(--secondary-highlight);
    /*font-weight: bold;*/
    font-family: var(--heading-font), sans-serif;
    height:5.6rem;
}

.navbar a,
.footer a{
        color: var(--background-color);

    }

.navbar #logo{
    padding-left:4rem;
    max-height: 4rem;
}
.navbar-collapse {
    background-color: var(--secondary-highlight);
    align-items: flex-start;
    padding-left: 4rem;
    margin-right:5.5rem;
}
/*footer*/

.footer .fa-brands{
    padding:1rem;
}

/*landing page*/
#hero{
    padding-bottom: 4rem ;
    color: var(--background-color);
    text-align: center;
}

#hero .display-1{
    font-size:5.5rem;
}

#hero .lead{
    font-size: 2rem;
    padding-bottom: 2rem;
}

#hero-logo img{
    width: 85vw;
    max-width: 40vh;
}


.reasons-images{
    width: 80vw;
    max-width:30rem;
    border-radius: 2rem;
    text-align: center;
}
.reasons-titles{
    font-size: 3rem;
    padding-top:1rem;
    padding-bottom: 4rem;
}

/* game play page*/

/* facts page*/

/* Responsive Styling */

/* Older style small phones which are less than 620px tall short phones */ 
/* Also applies to landscape orientation of all phones */
@media  screen and (max-height:620px) {
}

/* Medium screens: tablets (768px and above)*/
@media screen and (min-width:768px) {
}

/* Large screens 992px and above: laptops*/
@media screen and (min-width:992px) {
    #hero .display-1{
        text-align: start;
        font-size: 7rem;
        padding-left:5rem;
    }
    #hero-logo{
        text-align: end;
    }

    #hero .lead{
        font-size: 3.5rem;
    }
}

/* Extra large screens: 1200 px and above (laptop)*/
@media screen and (min-width:1200px) {

}

/* Extra extra large screens: 1400 px and above (wide screen laptop and desktop computer screens*/
@media screen and (min-width:1400px) {
}